<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes API (tech part)</title>
    <link rel="stylesheet" href="{{ static('notes_api_app/css/home.css') }}">
</head>

<body>
    <div id="mainDiv">
        <h1 id="mainHeader">Home page of app</h1>
        <p id="mainParagraph">It's not visual, but technical part of API. It provides main functionality that you can
            explore by using this service.</p>
        <button id="mainButton">Return to main page</button>
    </div>

    <script src="{{ static('notes_api_app/js/home.js') }}"></script>
</body>

</html>