html {
    background: none;
}

body {
    background: linear-gradient(135deg, rgb(175, 255, 182), rgb(255, 219, 153));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#errorHeaderDiv,
#mainTableDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#errorHeader {
    color: darkblue;
    font-size: 45px;
    margin: 25px 0;
    text-align: center;
}

#errorHeader::selection {
    background-color: yellow;
    color: darkred;
}

#mainTable,
tr,
th,
td {
    padding: 7px;
    border: 1px dashed darkred;
    border-radius: 5px;
    font-size: 17px;
}

th {
    text-align: center;
    color: rgb(220, 0, 0);
    font-size: 20px;
}

th::selection {
    background-color: yellow;
    color: darkblue;
}

td {
    text-align: center;
    color: rgb(220, 0, 220);
    font-size: 17px;
}

td::selection {
    background-color: yellow;
    color: darkgreen;
}

#redirectDiv {
    margin-top: 35px;
}

button {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 7px 15px;
    border: 2px dashed blue;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    transition: transform 0.25s ease-in-out;
}

button::selection {
    color: blue;
}

button:hover {
    cursor: pointer;
    color: darkblue;
    box-shadow: 0 0 10px blue;
    transform: scale(1.1);
}